<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/triggers/">{{#translate}}Automation Triggers{{/translate}}</a></li>
    <li class="active">{{#translate}}Create Trigger{{/translate}}</li>
</ol>

<h2>{{#translate}}Create Trigger{{/translate}}</h2>

<hr>

<form class="form-horizontal" method="post" action="/triggers/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="list" value="{{list.id}}">

    <div class="form-group">
        <label for="trigger-name" class="col-sm-2 control-label">{{#translate}}Trigger name{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" name="name" id="trigger-name" value="{{name}}" placeholder="{{#translate}}Name for this trigger, eg. Inactive subscribers{{/translate}}" required autofocus>
        </div>
    </div>

    <div class="form-group">
        <label for="trigger-description" class="col-sm-2 control-label">{{#translate}}Description{{/translate}}</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="trigger-description" name="description" rows="3" placeholder="{{#translate}}Optional comments about this trigger{{/translate}}">{{description}}</textarea>
            <span class="help-block">{{#translate}}HTML is allowed{{/translate}}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{#translate}}List{{/translate}}</label>
        <div class="col-sm-10">
            <p class="form-control-static"><a href="/lists/view/{{list.id}}">{{list.name}}</a> <span class="text-muted"> – {{list.subscribers}} {{#translate}}subscribers{{/translate}}</span></p>
        </div>
    </div>

    <fieldset>
        <legend>
            {{#translate}}Trigger rule{{/translate}}
        </legend>

        <div class="form-group">
            <label for="trigger-days" class="col-sm-2 control-label">{{#translate}}Trigger fires{{/translate}}</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" name="days" id="trigger-days" value="{{days}}" placeholder="1" required>
            </div>
            <div class="col-sm-1">
                <p class="form-control-static">{{#translate}}days after:{{/translate}}</p>
            </div>
        </div>

        <div class="col-sm-offset-2 panel panel-default">
            <div class="panel-heading">
                <div class="radio">
                    <label>
                        <input type="radio" name="rule" value="subscription" {{#if isSubscription}} checked {{/if}}> {{#translate}}Subscription{{/translate}}
                    </label>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="column" class="col-sm-2 control-label">{{#translate}}Event{{/translate}}</label>
                    <div class="col-sm-10">
                        <select name="column" class="form-control">
                            <option value="">
                                –– {{#translate}}Select{{/translate}} ––
                            </option>
                            {{#each columns}}
                                <option value="{{column}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-offset-2 panel panel-default">
            <div class="panel-heading">
                <div class="radio">
                    <label>
                        <input type="radio" name="rule" value="campaign" {{#if isCampaign}} checked {{/if}}> {{#translate}}Campaign{{/translate}}
                    </label>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="source-campaign" class="col-sm-2 control-label">{{#translate}}Campaign{{/translate}}</label>
                    <div class="col-sm-10">
                        <select name="source-campaign" class="form-control">
                            <option value="">
                                –– {{#translate}}Select{{/translate}} ––
                            </option>
                            {{#each sourceCampaigns}}
                                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="campaign-option" class="col-sm-2 control-label">{{#translate}}Event{{/translate}}</label>
                    <div class="col-sm-10">
                        <select name="campaign-option" id="campaign-option" class="form-control">
                            <option value="">
                                –– {{#translate}}Select{{/translate}} ––
                            </option>
                            {{#each campaignOptions}}
                                <option value="{{option}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            {{#translate}}Trigger action{{/translate}}
        </legend>

        <div class="col-sm-offset-2 panel panel-default">
            <div class="panel-heading">
                <div class="radio">
                    <label>
                        <input type="radio" name="action" value="send" {{#if isSend}} checked {{/if}}> {{#translate}}Send campaign{{/translate}}
                    </label>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="dest-campaign" class="col-sm-2 control-label">{{#translate}}Campaign{{/translate}}</label>
                    <div class="col-sm-10">
                        <select name="dest-campaign" class="form-control" required>
                            <option value="">
                                –– {{#translate}}Select{{/translate}} ––
                            </option>
                            {{#each destCampaigns}}
                                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Trigger{{/translate}}</button>
        </div>
    </div>


</form>
