<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{id}}">{{name}}</a></li>
    <li class="active">{{#translate}}Edit List{{/translate}}</li>
</ol>

<h2>{{#translate}}Edit List{{/translate}} <a class="btn btn-default btn-xs" href="/lists/view/{{id}}" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{#translate}}View List{{/translate}}</a></h2>

<hr>

<form method="post" class="delete-form" id="lists-delete" action="/lists/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}">
</form>

<form class="form-horizontal" method="post" action="/lists/edit">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />
    
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{#translate}}Name{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" name="name" id="name" value="{{name}}" placeholder="{{#translate}}List Name{{/translate}}" autofocus required>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{#translate}}List ID{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cid" value="{{cid}}" readonly>
            <span class="help-block">{{#translate}}This is the list ID displayed to the subscribers{{/translate}}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">{{#translate}}Description{{/translate}}</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="description" id="description">{{description}}</textarea>
            <span class="help-block">{{#translate}}HTML is allowed{{/translate}}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="default_form" class="col-sm-2 control-label">{{#translate}}Custom Form{{/translate}}</label>
        <div class="col-sm-10">
            <select class="form-control" id="default_form" name="default_form">
                <option value="0">{{#translate}}Default Mailtrain Form{{/translate}}</option>
                {{#each customForms}}
                    <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{#translate}}The custom form used for this list. You can create a form <a href="/forms/{{id}}/create">here</a>.{{/translate}}</span>
        </div>
    </div>

    <hr />

    <div class="col-sm-offset-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="public_subscribe" value="1" {{#if publicSubscribe}} checked {{/if}}> {{#translate}}Allow public users to subscribe themselves{{/translate}}
            </label>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
                <button type="submit" form="lists-delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> {{#translate}}Delete List{{/translate}}</button>
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {{#translate}}Update{{/translate}}</button>
        </div>
    </div>
</form>
