<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li class="active">{{#translate}}Import subscribers{{/translate}}</li>
</ol>

<h2>{{list.name}} <small>{{#translate}}Import subscribers{{/translate}}</small></h2>

<hr>

<form class="form-horizontal" method="post" action="/lists/subscription/import-confirm">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="list" value="{{list.id}}">
    <input type="hidden" name="import" value="{{id}}">

    {{#each mapping.columns}}

        <div class="form-group">
            <label for="column-{{@index}}" class="col-sm-2 control-label">{{this}}</label>
            <div class="col-sm-10">
                <select class="form-control" id="column-{{@index}}" name="column-{{@index}}">
                    <option value=""> –– {{#translate}}Select{{/translate}} –– </option>
                    <option value="email">{{#translate}}Email address{{/translate}}</option>
                    <option value="first_name">{{#translate}}First Name{{/translate}}</option>
                    <option value="last_name">{{#translate}}Last Name{{/translate}}</option>
                    <option value="tz">{{#translate}}Timezone{{/translate}}</option>
                    {{#each ../customFields}}
                        {{#if column}}
                            <option value="{{column}}">{{name}}</option>
                        {{else}}
                        <optgroup label="{{name}}">
                            {{#each options}}
                                <option value="{{column}}">{{name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/if}}

                    {{/each}}
                </select>

                <span id="helpBlock" class="help-block">{{#translate}}Example{{/translate}}: "{{lookup ../mapping.example @index}}"</span>
            </div>
        </div>

    {{/each}}

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{#translate}}Start import{{/translate}}</button>
        </div>
    </div>
</form>
