<div class="modal fade {{cls}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 999px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{#translate}}{{title}}{{/translate}}</h4>
            </div>
            <div id="carousel-{{cls}}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-{{cls}}" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-{{cls}}" data-slide-to="1"></li>
                    <li data-target="#carousel-{{cls}}" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    {{#if img01}}
                        <div class="item active">
                            <img src="{{img01}}">
                        </div>
                    {{/if}}

                    {{#if img02}}
                        <div class="item">
                            <img src="{{img02}}">
                        </div>
                    {{/if}}

                    {{#if img03}}
                        <div class="item">
                            <img src="{{img03}}">
                        </div>
                    {{/if}}

                    {{#if img04}}
                        <div class="item">
                            <img src="{{img04}}">
                        </div>
                    {{/if}}

                    {{#if img05}}
                        <div class="item">
                            <img src="{{img05}}">
                        </div>
                    {{/if}}

                    {{#if img06}}
                        <div class="item">
                            <img src="{{img06}}">
                        </div>
                    {{/if}}

                    {{#if img07}}
                        <div class="item">
                            <img src="{{img07}}">
                        </div>
                    {{/if}}

                    {{#if img08}}
                        <div class="item">
                            <img src="{{img08}}">
                        </div>
                    {{/if}}

                    {{#if img09}}
                        <div class="item">
                            <img src="{{img09}}">
                        </div>
                    {{/if}}

                    {{#if img10}}
                        <div class="item">
                            <img src="{{img10}}">
                        </div>
                    {{/if}}

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{cls}}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-{{cls}}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
