<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/lists/">Lists</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li><a href="/segments/{{list.id}}">Segments</a></li>
    <li class="active">Create Segment</li>
</ol>

<h2>{{list.name}} <small>Create Segment</small></h2>

<hr>

<form class="form-horizontal" method="post" action="/segments/{{list.id}}/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Segment Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" name="name" id="name" value="{{name}}" placeholder="Segment Name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="group" class="col-sm-2 control-label">Rule match</label>
        <div class="col-sm-10">
            <select class="form-control" name="type">
                <option value=""> –– Select ––</option>
                <option value="1" {{#if matchAll}} selected {{/if}}>All rules must match</option>
                <option value="2" {{#if matchAny}} selected {{/if}}>Any rule can match</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Segment</button>
        </div>
    </div>
</form>
