<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li><a href="/segments/{{list.id}}">{{#translate}}Segments{{/translate}}</a></li>
    <li><a href="/segments/{{list.id}}/view/{{id}}">{{name}}</a></li>
    <li class="active">{{#translate}}Create Segment{{/translate}}</li>
</ol>

<h2>{{list.name}} <small>{{#translate}}Create Rule{{/translate}}</small></h2>

<hr>

<form class="form-horizontal" method="post" action="/segments/{{list.id}}/rules/{{id}}/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="column" value="{{column.column}}">

    <div class="form-group">
        <label for="column" class="col-sm-2 control-label">{{#translate}}Rule{{/translate}}</label>
        <div class="col-sm-10">
            <p class="form-control-static"><strong>{{column.name}}</strong></p>
        </div>
    </div>

    {{#if columnTypeString}}
        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">{{#translate}}Value{{/translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="value" id="value" value="{{value.value}}" placeholder="{{#translate}}Value{{/translate}}">
                <span class="help-block">{{#translate}}Use % for wildcard character, e.g. "%test" to match all values that end with "test"{{/translate}}</span>
            </div>
        </div>
    {{/if}}

    {{#if columnTypeNumber}}
        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">{{#translate}}Value{{/translate}}</label>
            <div class="col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="" {{#unless value.range}} checked {{/unless}}> {{#translate}}Use exact match{{/translate}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="number" class="form-control" name="value" id="value" value="{{value.value}}" placeholder="0">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="yes" {{#if value.range}} checked {{/if}}> {{#translate}}Use range match{{/translate}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <div class="row">
                    <div class="col-md-1">
                        <p class="form-control-static">From</p>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="start" value="{{value.start}}" placeholder="0">
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static text-center">to</p>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" name="end" value="{{value.end}}" placeholder="0">
                    </div>
                </div>
            </div>
        </div>

    {{/if}}

    {{#if columnTypeDate}}
        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">{{#translate}}Value{{/translate}}</label>
            <div class="col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="" {{#unless value.range}} {{#unless value.relativeRange}} checked {{/unless}} {{/unless}}> {{#translate}}Use exact match{{/translate}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <div class="input-group date fm-date-generic">
                    <input type="text" class="form-control" name="value" placeholder="YYYY-MM-DD" value="{{value.value}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="yes" {{#if value.range}} checked {{/if}}> {{#translate}}Use range match{{/translate}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <div class="row">
                    <div class="col-md-1">
                        <p class="form-control-static">From</p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date fm-date-generic">
                            <input type="text" class="form-control" name="start" placeholder="YYYY-MM-DD" value="{{value.start}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static text-center">to</p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date fm-date-generic">
                            <input type="text" class="form-control" name="end" placeholder="YYYY-MM-DD" value="{{value.end}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="relative" {{#if value.relativeRange}} checked {{/if}}> {{#translate}}Use relative range match{{/translate}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <div class="row">
                    <div class="col-md-1">
                        <p class="form-control-static">{{#translate}}From{{/translate}}</p>
                    </div>
                    <div class="col-md-4 form-inline">
                        <div class="input-group">
                            <input type="number" class="form-control" name="start-relative" placeholder="0" {{#if value.relativeRange}} value="{{value.start}}" {{/if}}>
                            <div class="input-group-addon">
                                {{#translate}}days{{/translate}}
                                <select name="start-direction">
                                    <option value="0">
                                        {{#translate}}before today{{/translate}}
                                    </option>
                                    <option value="1" {{#if value.startDirection}} selected {{/if}}>
                                        {{#translate}}after today{{/translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static text-center">{{#translate}}to{{/translate}}</p>
                    </div>
                    <div class="col-md-4 form-inline">
                        <div class="input-group">
                            <input type="number" class="form-control" name="end-relative" placeholder="0" {{#if value.relativeRange}} value="{{value.end}}" {{/if}}>
                            <div class="input-group-addon">
                                {{#translate}}days{{/translate}}
                                <select name="end-direction">
                                    <option value="0">
                                        {{#translate}}before today{{/translate}}
                                    </option>
                                    <option value="1" {{#if value.endDirection}} selected {{/if}}>
                                        {{#translate}}after today{{/translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if columnTypeBirthday}}
        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">{{#translate}}Value{{/translate}}</label>
            <div class="col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="" {{#unless isRange}} checked {{/unless}}> {{#translate}}Use exact match{{/translate}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <div class="input-group date fm-birthday-generic">
                    <input type="text" class="form-control" name="value" placeholder="MM-DD" value="{{value.value}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <label>
                    <input type="radio" name="range" value="yes" {{#if isRange}} checked {{/if}}> {{#translate}}Use range match{{/translate}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 radio">
                <div class="row">
                    <div class="col-md-1">
                        <p class="form-control-static">{{#translate}}From{{/translate}}</p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date fm-birthday-generic">
                            <input type="text" class="form-control" name="start" placeholder="MM-DD" value="{{value.start}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static text-center">{{#translate}}to{{/translate}}</p>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date fm-birthday-generic">
                            <input type="text" class="form-control" name="end" placeholder="MM-DD" value="{{value.end}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if columnTypeBoolean}}
        <div class="form-group">
            <label for="value" class="col-sm-2 control-label">{{#translate}}Value{{/translate}}</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="value" value="yes" {{#if value.value}} checked {{/if}}> {{#translate}}Selected{{/translate}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="value" value="" {{#unless value.value}} checked {{/unless}}> {{#translate}}Not selected{{/translate}}
                    </label>
                </div>
            </div>
        </div>

    {{/if}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Add Rule{{/translate}}</button>
        </div>
    </div>
</form>
