<h2>{{#translate}}Unsubscribe{{/translate}}</h2>

<p>
    {{#translate}}Enter your email address to unsubscribe from:{{/translate}} {{title}}
</p>

<form method="post" id="unsubscribe-form" action="/subscription/{{lcid}}/unsubscribe">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="campaign" value="{{campaign}}">
    <input type="hidden" name="cid" value="{{cid}}">

    <div class="form-group">
        <label for="email">{{#translate}}Email address{{/translate}}</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="" value="{{email}}" autofocus required>
    </div>

    <div class="form-group">
        <button type="submit" id="unsubscribe-button" class="btn btn-primary">{{#translate}}Unsubscribe{{/translate}}</button>
    </div>
</form>

{{#if email}}
    {{#if autosubmit}}
        <script src="/javascript/autosubmit.js"></script>
    {{/if}}
{{/if}}
