<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{#translate}}Self hosted email newsletter app{{/translate}}">
    <link rel="icon" href="/public/favicon.ico">

    <title>Mailtrain
        {{#if title}} | {{title}}{{/if}}
    </title>

    <link rel="stylesheet" href="/public/bootstrap/themes/united.min.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/mailtrain.css">
    <script src="/public/jquery-2.2.1.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    {{#if mailtrainConfig}}
    <script>
        {{#if reactCsrfToken}}window.csfrToken = '{{reactCsrfToken}}';{{/if}}
        window.mailtrainConfig = {{{mailtrainConfig}}};
    </script>

    <script src="/mailtrain/common.js"></script>
    <script src="/mailtrain/root.js"></script>
    {{/if}}
</head>

<body class="{{bodyClass}}">
    {{{body}}}

    {{> tracking_scripts}}

</body>

</html>
