<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Settings</li>
</ol>

<h2>Settings</h2>

<hr>

<form method="post" id="smtp-verify" action="/settings/smtp-verify">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

<form class="form-horizontal" id="settings-form" method="post" action="/settings/update">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <fieldset>
        <legend>
            General Settings
        </legend>

        <div class="form-group">
            <label for="service-url" class="col-sm-2 control-label">Service Address (URL)</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="service-url" id="service-url" placeholder="http://example.com/" value="{{serviceUrl}}" required>
                <span class="help-block">Enter the URL this service can be reached from</span>
            </div>
        </div>

        <div class="form-group">
            <label for="admin-email" class="col-sm-2 control-label">Admin Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="admin-email" id="admin-email" placeholder="admin@example.com" value="{{adminEmail}}" required>
                <span class="help-block">Enter the email address that will be used as "from" for system messages</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disable-wysiwyg" {{#if disableWysiwyg}} checked {{/if}}> Disable WYSIWYG editor
                        <span class="help-block">If checked then message editor displays HTML code without the preview</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disable-confirmations" {{#if disableConfirmations}} checked {{/if}}> Disable subscription confirmation messages
                        <span class="help-block">If checked then do not send a confirmation message that states the subscriber is now subscribed or unsubscribed. This does not disable double opt-in messages.</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ua-code" class="col-sm-2 control-label">Tracking ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="ua-code" id="ua-code-url" placeholder="UA-XXXXX-XX" value="{{uaCode}}">
                <span class="help-block">Enter Google Analytics tracking code</span>
            </div>
        </div>

        <div class="form-group">
            <label for="shoutout" class="col-sm-2 control-label">Frontpage shout out</label>
            <div class="col-sm-10">
                <textarea class="form-control gpg-text" rows="3" id="shoutout" name="shoutout" placeholder="">{{shoutout}}</textarea>
                <span class="help-block">HTML code shown in the front page header section</span>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            Campaign defaults
        </legend>

        <div class="form-group">
            <label for="default-sender" class="col-sm-2 control-label">Sender name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="default-sender" id="default-sender" value="{{defaultSender}}" placeholder="Sender name, eg. &quot;My Awesome Company Ltd.&quot;">
            </div>
        </div>

        <div class="form-group">
            <label for="default-postaddress" class="col-sm-2 control-label">Default address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="default-postaddress" id="default-postaddress" value="{{defaultPostaddress}}" placeholder="Contact address to provide, eg. &quot;1234 Main Street, Anywhere, MA 01234, USA&quot;">
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="default-from" class="col-sm-2 control-label">Default "from name"</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="default-from" id="default-from" value="{{defaultFrom}}" placeholder="This is the name your emails will come from" required>
            </div>
        </div>
        <div class="form-group">
            <label for="default-address" class="col-sm-2 control-label">Default "from" email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="default-address" id="default-address" value="{{defaultAddress}}" placeholder="This is the address people will send replies to" required>
            </div>
        </div>
        <div class="form-group">
            <label for="default-subject" class="col-sm-2 control-label">Default "subject line"</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="default-subject" id="default-subject" value="{{defaultSubject}}" placeholder="Keep it relevant and non-spammy">
            </div>
        </div>
        <div class="form-group">
            <label for="default-homepage" class="col-sm-2 control-label">Default homepage (URL)</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="default-homepage" id="default-homepage" value="{{defaultHomepage}}" placeholder="URL to redirect the subscribed users to, eg. http://example.com/">
            </div>
        </div>


    </fieldset>

    <fieldset>
        <legend>
            SMTP Settings
        </legend>

        <p class="text-info">These settings are required to send out e-mail messages</p>

        <div class="form-group">
            <label for="smtp-hostname" class="col-sm-2 control-label">Hostname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="smtp-hostname" id="smtp-hostname" placeholder="Hostname, eg. smtp.example.com" value="{{smtpHostname}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-port" class="col-sm-2 control-label">Port</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="smtp-port" id="smtp-port" placeholder="Port, eg. 465. Autodetected if left blank" value="{{smtpPort}}">
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-encryption" class="col-sm-2 control-label">Encryption</label>
            <div class="col-sm-10">
                <select class="form-control" id="smtp-encryption" name="smtp-encryption">
                    {{#each smtpEncryption}}
                        <option value="{{key}}" {{#if checked}} selected {{/if}}>
                            {{value}}
                            {{#if description}} <span class="text-muted"> &mdash; {{description}}</span>{{/if}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="smtp-disable-auth" {{#if smtpDisableAuth}} checked {{/if}}> Disable SMTP authentication
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-user" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="smtp-user" id="smtp-port" placeholder="Username, eg. myaccount@example.com" value="{{smtpUser}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-pass" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="smtp-pass" id="smtp-pass" placeholder="Password" value="{{smtpPass}}" required>
            </div>
        </div>

        <div class="pull-right">
            <button type="submit" id="verify-button" form="smtp-verify" class="btn btn-info" data-loading-text="Checking..."><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Check SMTP config</button>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            Advanced SMTP settings
        </legend>

        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="smtp-log" {{#if smtpLog}} checked {{/if}}> Log SMTP transactions
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="smtp-self-signed" {{#if smtpSelfSigned}} checked {{/if}}> Allow self-signed certificates
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-max-connections" class="col-sm-2 control-label">Max connections</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="smtp-max-connections" id="smtp-max-connections" placeholder="The count of max connections, eg. 10" value="{{smtpMaxConnections}}">
                <span class="help-block">The count of maximum simultaneous connections to make against the SMTP server (defaults to 5)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-max-messages" class="col-sm-2 control-label">Max messages</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="smtp-max-messages" id="smtp-max-messages" placeholder="The count of max messages, eg. 100" value="{{smtpMaxMessages}}">
                <span class="help-block">The number of messages to send through a single connection before the connection is closed and reopened (defaults to 100)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="smtp-throttling" class="col-sm-2 control-label">Throttling</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="smtp-throttling" id="smtp-throttling" placeholder="Messages per hour eg. 1000" value="{{smtpThrottling}}">
                <span class="help-block">Maximum number of messages to send in an hour. Leave empty or zero for no throttling. If your provider uses a different speed limit (<em>messages/minute</em> or <em>messages/second</em>) then convert this limit into <em>messages/hour</em> (1m/s => 3600m/h).</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            VERP bounce handling
        </legend>

        <p class="text-info">
            Mailtrain is able to use <a href="https://en.wikipedia.org/wiki/Variable_envelope_return_path">VERP</a> based routing to detect bounces. In this case the message is sent to the recipient using a custom VERP address as the return path of the
            message. If the message is not accepted a bounce email is sent to this special VERP address and thus a bounce is detected.
        </p>

        <p class="text-info">
            To get VERP working you need to set up a DNS MX record that points to your Mailtrain hostname. You must also ensure that Mailtrain VERP interface is available from port 25 of your server (port 25 usually requires root user privileges). This way if anyone
            tries to send email to <code>someuser@{{verpHostname}}</code> then the email should end up to this server.
        </p>

        <p class="text-warning">
            VERP usually only works if you are using your own SMTP server. Regural relay services (SES, SparkPost, Gmail etc.) tend to remove the VERP address from the message.
        </p>

        {{#if verpEnabled}}

            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="verp-use" {{#if verpUse}} checked {{/if}}> Use VERP to catch bounces
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="verp-hostname" class="col-sm-2 control-label">Server hostname</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="verp-hostname" id="verp-hostname" placeholder="The VERP server hostname, eg. bounces.example.com" value="{{verpHostname}}">
                    <span class="help-block">VERP bounce handling server hostname. This hostname is used in the SMTP envelope FROM address and the MX DNS records should point to this server</span>
                </div>
            </div>

        {{else}}
            <div class="form-group">
                <div class="col-sm-10">
                    <p class="form-control-static">VERP bounce handling server is not enabled. Modify your server configuration file and restart server to enable it</p>
                </div>
            </div>
        {{/if}}
    </fieldset>

    <fieldset>
        <legend>
            GPG Signing
        </legend>

        <p>
            Only messages that are encrypted can be signed. Subsribers who have not set up a GPG public key in their profile receive normal email messages. Users with GPG key set receive encrypted messages and if you have signing key also set, the messages are signed
            with this key.
        </p>
        <p class="text-warning">
            Do not use sensitive keys here. The private key and passphrase are not encrypted in the database.
        </p>

        <div class="form-group">
            <label for="pgp-passphrase" class="col-sm-2 control-label">Private Key Passphrase</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="pgp-passphrase" id="pgp-passphrase" placeholder="Passphrase for the key if set" value="{{pgpPassphrase}}">
                <span class="help-block">Only fill this if your private key is encrypted with a passphrase</span>
            </div>
        </div>

        <div class="form-group">
            <label for="pgp-private-key" class="col-sm-2 control-label">GPG Private Key</label>
            <div class="col-sm-10">
                <textarea class="form-control gpg-text" rows="3" id="pgp-private-key" name="pgp-private-key" placeholder="Begins with &#39;-----BEGIN PGP PRIVATE KEY BLOCK-----&#39;">{{pgpPrivateKey}}</textarea>
                <span class="help-block">This value is optional. If you do not provide a private key GPG encrypted messages are sent without signing.</span>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            DKIM Signing by ZoneMTA
        </legend>

        <p>
            If you are using <a href="https://github.com/zone-eu/zone-mta">ZoneMTA</a> then Mailtrain can provide a DKIM key for signing all outgoing messages. Other services usually provide their own means to DKIM sign your messages
        </p>
        <p class="text-warning">
            Do not use sensitive keys here. The private key is not encrypted in the database.
        </p>

        <div class="form-group">
            <label for="pgp-passphrase" class="col-sm-2 control-label">ZoneMTA DKIM API Key</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="dkim-api-key" id="dkim-api-key" placeholder="Some secret value" value="{{dkimApiKey}}">
                <span class="help-block">Secret value known to ZoneMTA for requesting DKIM key information. If this value was generated by the Mailtrain installation script then you can keep it as it is</span>
            </div>
        </div>

        <div class="form-group">
            <label for="pgp-passphrase" class="col-sm-2 control-label">DKIM domain</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="dkim-domain" id="dkim-domain" placeholder="Domain name for the DKIM key" value="{{dkimDomain}}">
                <span class="help-block">Leave blank to use the sender email address domain</span>
            </div>
        </div>

        <div class="form-group">
            <label for="pgp-passphrase" class="col-sm-2 control-label">DKIM key selector</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="dkim-selector" id="dkim-selector" placeholder="DKIM key selector" value="{{dkimSelector}}">
                <span class="help-block">Signing is disabled without a valid selector value</span>
            </div>
        </div>

        <div class="form-group">
            <label for="dkim-private-key" class="col-sm-2 control-label">DKIM Private Key</label>
            <div class="col-sm-10">
                <textarea class="form-control gpg-text" rows="3" id="dkim-private-key" name="dkim-private-key" placeholder="Begins with &#39;-----BEGIN RSA PRIVATE KEY-----&#39;">{{dkimPrivateKey}}</textarea>
                <span class="help-block">This value is optional. If you do not provide a private key then messages are not signed.</span>
            </div>
        </div>

    </fieldset>

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Update</button>
        </div>
    </div>

</form>
