<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/templates/">Templates</a></li>
    <li class="active">Edit Template</li>
</ol>

<h2>Edit Template <a class="btn btn-default btn-xs" href="/templates/" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to templates</a></h2>

<hr>

<form method="post" class="delete-form" id="templates-delete" action="/templates/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />
</form>

<form class="form-horizontal" method="post" action="/templates/edit">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />

    <div class="form-group">
        <label for="template-name" class="col-sm-2 control-label">Template name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" name="name" id="template-name" value="{{name}}" placeholder="Name for this template, eg. Newsletter">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-default" role="button" data-toggle="collapse" href="#mergeReference" aria-expanded="false" aria-controls="mergeReference">Merge tag reference</a>
            <div class="collapse" id="mergeReference">
                <p>
                    Merge tags are tags that are replaced before sending out the message. The format of the merge tag is the following: <code>[TAG_NAME]</code> or <code>[TAG_NAME/fallback]</code> where <code>fallback</code> is an optional text value used
                    when <code>TAG_NAME</code> is empty.
                </p>

                <ul>
                    <li>
                        <code>[FIRST_NAME]</code> – first name of the subscriber
                    </li>
                    <li>
                        <code>[LAST_NAME]</code> – last name of the subscriber
                    </li>
                    <li>
                        <code>[FULL_NAME]</code> – first and last names of the subscriber joined
                    </li>
                    <li>
                        <code>[LINK_UNSUBSCRIBE]</code> – URL that points to the preferences page of the subscriber
                    </li>
                    <li>
                        <code>[LINK_PREFERENCES]</code> – URL that points to the unsubscribe page
                    </li>
                    <li>
                        <code>[LINK_BROWSER]</code> – URL to preview the message in a browser
                    </li>
                </ul>
                <p>
                    In addition to that any custom field can have its own merge tag.
                </p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="template-html" class="col-sm-2 control-label">Template content (HTML)</label>
        <div class="col-sm-10">
            {{#if disableWysiwyg}}
                <div class="code-editor" id="template-html">{{html}}</div>
                <input type="hidden" name="html">
            {{else}}
                <textarea class="form-control summernote" id="template-html" name="html" rows="8">{{html}}</textarea>
            {{/if}}
        </div>
    </div>

    <div class="form-group">
        <label for="template-text" class="col-sm-2 control-label">Template content (plaintext)</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="template-text" name="text" rows="10">{{text}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="template-description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="template-description" name="description" rows="3" placeholder="Optional comments about this template">{{description}}</textarea>
            <span class="help-block">HTML is allowed</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
                <button type="submit" form="templates-delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete Template</button>
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Update</button>
        </div>
    </div>


</form>
