<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Self hosted email newsletter app">
    <link rel="shortcut icon" href="{{publicPath}}static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="{{publicPath}}static/favicon.ico">

    <title>Mailtrain
        {{#if title}} | {{title}}{{/if}}
    </title>

    <link rel="stylesheet" href="{{publicPath}}client/mailtrain.css">

    <script src="{{publicPath}}static-npm/jquery.min.js"></script>
    <script src="{{publicPath}}static-npm/popper.min.js"></script>
    <script src="{{publicPath}}static-npm/bootstrap.min.js"></script>
    <script src="{{publicPath}}static-npm/coreui.min.js"></script>

    <script>
        if (!window.location.href.startsWith('{{publicPath}}')) {
            console.warn('Warning: Misconfigured urlBases. If the website does not work, check the settings of www.trustedUrlBase, www.sandboxUrlBase and www.publicUrlBase in server config file.');
        }
    </script>

    {{#if mailtrainConfig}}
    <script>
        {{#if reactCsrfToken}}window.csrfToken = '{{reactCsrfToken}}';{{/if}}
        window.mailtrainConfig = {{{mailtrainConfig}}};
    </script>

    {{#each scriptFiles}}
        <script src="{{this}}"></script>
    {{/each}}
    {{/if}}
</head>

<body class="mailtrain {{bodyClass}}">
    {{{body}}}

    {{> tracking_scripts}}

</body>

</html>
