<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/campaigns">{{#translate}}Campaigns{{/translate}}</a></li>
    <li class="active">{{#translate}}Create Triggered Campaign{{/translate}}</li>
</ol>

<h2>{{#translate}}Create Triggered Campaign{{/translate}}</h2>

<hr>

<form class="form-horizontal" method="post" action="/campaigns/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="type" value="triggered">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{#translate}}Name{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" name="name" id="name" value="{{name}}" placeholder="{{#translate}}Campaign Name{{/translate}}" autofocus required>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">{{#translate}}Description{{/translate}}</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="description" id="description">{{description}}</textarea>
            <span class="help-block">{{#translate}}HTML is allowed{{/translate}}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="list" class="col-sm-2 control-label">{{#translate}}List{{/translate}}</label>
        <div class="col-sm-10">
            <select class="form-control" id="list" name="list" required>
                <option value=""> –– {{#translate}}Select{{/translate}} –– </option>
                {{#each listItems}}
                    <option value="{{id}}" {{#if selected}} selected {{/if}}>
                        {{name}} <span class="text-muted"> &mdash; {{subscribers}} {{#translate}}subscribers{{/translate}}</span>
                    </option>

                    {{#if segments}}
                        <optgroup label="{{name}} segments">
                            {{#each segments}}
                                <option value="{{../id}}:{{id}}" {{#if selected}} selected {{/if}}>
                                    {{../name}}: {{name}}
                                </option>
                            {{/each}}
                        </optgroup>
                    {{/if}}
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="template" class="col-sm-2 control-label">{{#translate}}Template{{/translate}}</label>
        <div class="col-sm-10">

            <p class="form-control-static">
                {{#translate}}Select a template:{{/translate}}
            </p>
            <div>
                <select class="form-control" id="template" name="template">
                    <option value=""> –– {{#translate}}Select{{/translate}} –– </option>
                    {{#each templateItems}}
                        <option value="{{id}}" {{#if selected}} selected {{/if}}>
                            {{name}}
                        </option>
                    {{/each}}
                </select>
                <span class="help-block">{{#translate}}Selecting a template creates a campaign specific copy from it{{/translate}}</span>
            </div>
            <p class="form-control-static">
                {{#translate}}Or alternatively use an URL as the message content source:{{/translate}}
            </p>
            <div>
                <input type="url" class="form-control" name="source-url" id="source-url" value="{{sourceUrl}}" placeholder="http://example.com/message-render.php">
                <span class="help-block">{{#translate}}If a message is sent then this URL will be POSTed to using Merge Tags as POST body. Use this if you want to generate the HTML message yourself{{/translate}}</span>
            </div>

        </div>
    </div>

    <hr />

    <div class="form-group">
        <label for="from" class="col-sm-2 control-label">{{#translate}}Email "from name"{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="from" id="from" value="{{from}}" placeholder="{{#translate}}This is the name your emails will come from{{/translate}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">{{#translate}}Email "from" address{{/translate}}</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="address" id="address" value="{{address}}" placeholder="{{#translate}}This is the address people will send replies to{{/translate}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">{{#translate}}Email "subject line"{{/translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="subject" id="subject" value="{{subject}}" placeholder="{{#translate}}Keep it relevant and non-spammy{{/translate}}" required>
        </div>
    </div>

    <div class="col-sm-offset-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="tracking-disabled" value="1" {{#if trackingDisabled}} checked {{/if}}> {{#translate}}Disable clicked/opened tracking{{/translate}}
            </label>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Campaign{{/translate}}</button>
        </div>
    </div>
</form>
