<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/campaigns">{{#translate}}Campaigns{{/translate}}</a></li>
    {{#if parent}}
        <li><a href="/campaigns/view/{{parent.id}}">{{parent.name}}</a></li>
    {{/if}}
    <li><a href="/campaigns/view/{{id}}">{{name}}</a></li>
    <li class="active">{{#translate}}Edit RSS Campaign{{/translate}}</li>
</ol>

<h2>{{#translate}}Edit RSS Campaign{{/translate}} <a class="btn btn-default btn-xs" href="/campaigns/view/{{id}}" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{#translate}}View campaign{{/translate}}</a></h2>

<hr>

<div class="panel panel-default">
    <div class="panel-body">
        {{#translate}}RSS campaign sets up a tracker against selected RSS feed address. Whenever a new entry is found from this feed it is sent to selected list as an email message.{{/translate}}
    </div>
</div>

<form method="post" class="delete-form" id="campaigns-delete" action="/campaigns/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />
</form>

<form class="form-horizontal" method="post" action="/campaigns/edit">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />

    <fieldset>
        <legend>
            {{#translate}}General Settings{{/translate}}
        </legend>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{{#translate}}Name{{/translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-lg" name="name" id="name" value="{{name}}" placeholder="{{#translate}}Campaign Name{{/translate}}" autofocus required>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">{{#translate}}Description{{/translate}}</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="description" id="description">{{description}}</textarea>
                <span class="help-block">{{#translate}}HTML is allowed{{/translate}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="list" class="col-sm-2 control-label">{{#translate}}List{{/translate}}</label>
            <div class="col-sm-10">
                <select class="form-control" id="list" name="list" required>
                    <option value=""> –– {{#translate}}Select{{/translate}} –– </option>
                    {{#each listItems}}
                        <option value="{{id}}" {{#if selected}} selected {{/if}}>
                            {{name}} <span class="text-muted"> &mdash; {{subscribers}} {{#translate}}subscribers{{/translate}}</span>
                        </option>

                        {{#if segments}}
                            <optgroup label="{{name}} segments">
                                {{#each segments}}
                                    <option value="{{../id}}:{{id}}" {{#if selected}} selected {{/if}}>
                                        {{../name}}: {{name}}
                                    </option>
                                {{/each}}
                            </optgroup>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="template" class="col-sm-2 control-label">{{#translate}}RSS Feed Url{{/translate}}</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="source-url" id="source-url" value="{{sourceUrl}}" placeholder="http://example.com/rss.php" required>
                <span class="help-block">{{#translate}}New entries from this RSS URL are sent out to list subscribers as email messages{{/translate}}</span>
            </div>
        </div>

        {{> merge_tag_reference}}

        {{#if disableWysiwyg}}
{{> codeeditor}}
        {{else}}
{{> summernote}}
        {{/if}}

        <div class="form-group" style="margin-top: -15px;">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="help-block">{{#translate}}Use special merge tag [RSS_ENTRY] to mark the position for the RSS post content. Additionally you can use any valid merge tag as well.{{/translate}}</span>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="from" class="col-sm-2 control-label">{{#translate}}Email "from name"{{/translate}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="from" id="from" value="{{from}}" placeholder="{{#translate}}This is the name your emails will come from{{/translate}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">{{#translate}}Email "from" address{{/translate}}</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="address" id="address" value="{{address}}" placeholder="{{#translate}}This is the address people will send replies to{{/translate}}" required>
            </div>
        </div>

        <div class="col-sm-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="tracking-disabled" value="1" {{#if trackingDisabled}} checked {{/if}}> {{#translate}}Disable clicked/opened tracking{{/translate}}
                </label>
            </div>
        </div>

    </fieldset>

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
                <button type="submit" form="campaigns-delete" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> {{#translate}}Delete Campaign{{/translate}}</button>
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> {{#translate}}Update{{/translate}}</button>
        </div>
    </div>
</form>
