<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/campaigns">Campaigns</a></li>
    {{#if parent}}
        <li><a href="/campaigns/view/{{parent.id}}">{{parent.name}}</a></li>
    {{/if}}
    <li><a href="/campaigns/view/{{id}}">{{name}}</a></li>
    <li class="active">Opened info</li>
</ol>

<h2><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> {{name}} <small>Opened info</small> <a class="btn btn-default btn-xs" href="/campaigns/view/{{id}}?tab=overview" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> View campaign</a></h2>

<hr>

{{#if description}}
    <div class="well well-sm">{{{description}}}</div>
{{/if}}

<div class="table-responsive">

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">Subscribers who opened this message:</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table data-topic-url="/campaigns/clicked" data-topic-id="{{id}}/-1" data-sort-column="1" data-sort-order="asc" class="table table-bordered table-hover data-table-ajax display nowrap" width="100%" data-row-sort="0,1,1,1,1,1,0">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                #
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                First open
                            </th>
                            <th>
                                Opened count
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
