<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/campaigns">{{#translate}}Campaigns{{/translate}}</a></li>
    {{#if parent}}
        <li><a href="/campaigns/view/{{parent.id}}">{{parent.name}}</a></li>
    {{/if}}
    <li><a href="/campaigns/view/{{id}}">{{name}}</a></li>
    <li><a href="/campaigns/edit/{{id}}?tab=attachments">{{#translate}}Edit Campaign{{/translate}}</a></li>
    <li class="active">{{#translate}}Add Attachment{{/translate}}</li>
</ol>

<h2>{{#translate}}Edit Campaign{{/translate}} <a class="btn btn-default btn-xs" href="/campaigns/view/{{id}}" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{#translate}}View campaign{{/translate}}</a></h2>

<hr>

<form class="form-horizontal" method="post" action="/campaigns/attachment" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{id}}" />
    <div class="form-group">
        <label for="attachment" class="col-sm-2 control-label">Upload new</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="attachment" id="attachment" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-cloud-upload"></i> {{#translate}}Upload{{/translate}}</button>
        </div>
    </div>
</form>
