<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}: Subscription Confirmed</title>
</head>

<body>

    <h1>{{title}}</h1>

    <h2>Your subscription to our list has been confirmed.</h2>

    <p>
        If you want to modify your subscription then you can:
    </p>

    <p>
        <a href="{{preferencesUrl}}">manage your preferences</a>
        <span style="color: #444444;"> or </span>
        <a href="{{unsubscribeUrl}}">unsubscribe here</a>
    </p>

    <p>For questions about this list, please contact:
        <br/>{{contactAddress}}</p>

</body>

</html>
