<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li class="active">{{#translate}}Import subscribers{{/translate}}</li>
</ol>

<h2>{{list.name}} <small>{{#translate}}Import subscribers{{/translate}}</small></h2>

<hr>

<form class="form-horizontal" method="post" action="/lists/subscription/import" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="list" value="{{list.id}}">

    <div class="form-group">
        <label for="listimport" class="col-sm-2 control-label">{{#translate}}CSV File{{/translate}}</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="listimport" id="listimport" required>
        </div>
    </div>

    <div class="form-group">
        <label for="delimiter" class="col-sm-2 control-label">{{#translate}}CSV delimiter{{/translate}}</label>
        <div class="col-sm-1">
            <input type="text" class="form-control" name="delimiter" id="delimiter" placeholder="" value="{{delimiter}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{#translate}}Categorize the imported subscribers as{{/translate}}:</label>
        <div class="col-sm-6">
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="type" value="subscribed" checked> {{#translate}}Subscribed{{/translate}} – <span class="text-muted">{{#translate}}Regular subscriber addresses{{/translate}}</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="type" value="unsubscribed"> {{#translate}}Unsubscribed{{/translate}} – <span class="text-muted">{{#translate}}Suppressed emails that will be unsubscribed from your list{{/translate}}</span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{#translate}}Check imported emails{{/translate}}:</label>
        <div class="col-sm-6">
            <div class="radio">
                <label>
                    <input type="radio" name="emailcheck" id="type" value="enabled" checked> {{#translate}}Enabled{{/translate}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="emailcheck" id="type" value="disabled"> {{#translate}}Disabled{{/translate}}
                </label>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{#translate}}Next{{/translate}}</button>
        </div>
    </div>
</form>
