<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li class="active">{{#translate}}Segments{{/translate}}</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/segments/{{list.id}}/create" role="button"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Segment{{/translate}}</a>
</div>

<h2>{{list.name}} <small>{{#translate}}Segments{{/translate}}</small></h2>

<hr>

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table display nowrap" width="100%" data-row-sort="0,1,1,0">
        <thead>
            <th class="col-md-1">
                #
            </th>
            <th>
                {{#translate}}Name{{/translate}}
            </th>
            <th class="col-md-2">
                {{#translate}}Match{{/translate}}
            </th>
            <th class="col-md-1">
                &nbsp;
            </th>
        </thead>
        {{#if rows}}
            <tbody>
                {{#each rows}}
                    <tr>
                        <th scope="row">
                            {{index}}
                        </th>
                        <td>
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                            <a href="/segments/{{../list.id}}/view/{{id}}">{{name}}</a>
                        </td>
                        <td>
                            {{type}}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <a href="/segments/{{../list.id}}/edit/{{id}}">
                            {{#translate}}Edit{{/translate}}
                        </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        {{/if}}
    </table>
</div>
