<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li><a href="/lists/">{{#translate}}Lists{{/translate}}</a></li>
    <li><a href="/lists/view/{{list.id}}">{{list.name}}</a></li>
    <li><a href="/segments/{{list.id}}">{{#translate}}Segments{{/translate}}</a></li>
    <li class="active">{{name}}</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/segments/{{list.id}}/rules/{{id}}/create" role="button"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Rule{{/translate}}</a>
</div>

<h2>{{list.name}} <small><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> {{#translate}}Segment{{/translate}} {{name}}</small></h2>

<hr>

<div class="well well-sm">
    <div class="pull-right">
        <a class="btn btn-primary btn-sm" href="/segments/{{list.id}}/edit/{{id}}" role="button"><i class="glyphicon glyphicon-wrench"></i> {{#translate}}Edit Segment{{/translate}}</a>
    </div>
    {{#translate}}Match rules{{/translate}}: <span class="label label-default">{{type}}</span>
    <br /> {{#translate}}Matching subscribers{{/translate}}: <span class="label label-default">{{subscribers}}</span> (
    <a href="/lists/view/{{list.id}}?segment={{id}}">{{#translate}}show{{/translate}}</a>)
    <br />
    <div class="clearfix"></div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table display nowrap" width="100%" data-row-sort="0,1,0,0">
        <thead>
            <th class="col-md-1">
                #
            </th>
            <th>
                {{#translate}}Rule{{/translate}}
            </th>
            <th class="col-md-2">
                {{#translate}}Value{{/translate}}
            </th>
            <th class="col-md-1">
                &nbsp;
            </th>
        </thead>
        {{#if rules}}
            <tbody>
                {{#each rules}}
                    <tr>
                        <th scope="row">
                            {{index}}
                        </th>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{formatted}}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <a href="/segments/{{../list.id}}/rules/{{../id}}/edit/{{id}}">
                            {{#translate}}Edit{{/translate}}
                        </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        {{/if}}
    </table>
</div>
