<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            Email address already registered
        </mj-text>
        <mj-text mj-class="p">
            We have received a subscription request. Your email address is however already registered..
        </mj-text>
        <mj-text mj-class="p">
            If you received this email by mistake, simply delete it. Your existing subscription won't be affected.
        </mj-text>
        <mj-text mj-class="p">
            If you want to modify your subscription then you can
            <a href="{{preferencesUrl}}">manage your preferences</a> or <a href="{{unsubscribeUrl}}">unsubscribe here</a>.
        </mj-text>
        <mj-button mj-class="button" href="{{homepage}}">
            Return to our website
        </mj-button>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
