<mj-section>
    <mj-column>
        <mj-text mj-class="h3">
            Subscription Confirmed
        </mj-text>
        <mj-text mj-class="p">
            Your subscription to our list has been confirmed. If you want to modify your subscription then you can
            <a href="{{preferencesUrl}}">manage your preferences</a> or <a href="{{unsubscribeUrl}}">unsubscribe here</a>.
        </mj-text>
        <mj-button mj-class="button" href="{{homepage}}">
            Return to our website
        </mj-button>
        <mj-text mj-class="p">
            For questions about this list, please contact:
            <br/><a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </mj-text>
    </mj-column>
</mj-section>
