<ol class="breadcrumb">
    <li><a href="/">{{#translate}}Home{{/translate}}</a></li>
    <li class="active">{{#translate}}Automation Triggers{{/translate}}</li>
</ol>

<div class="pull-right">
    <a class="btn btn-primary" href="/triggers/create-select" role="button"><i class="glyphicon glyphicon-plus"></i> {{#translate}}Create Trigger{{/translate}}</a>
</div>

<h2>{{#translate}}Automation Triggers{{/translate}}</h2>

<hr>

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table display nowrap" width="100%" data-row-sort="0,1,1,0,1,0,1,1,0">
        <thead>
            <th class="col-md-1">
                #
            </th>
            <th>
                {{#translate}}Name{{/translate}}
            </th>
            <th>
                {{#translate}}Status{{/translate}}
            </th>
            <th>
                {{#translate}}Description{{/translate}}
            </th>
            <th>
                {{#translate}}List{{/translate}}
            </th>
            <th>
                {{#translate}}Trigger{{/translate}}
            </th>
            <th>
                {{#translate}}Target Campaign{{/translate}}
            </th>
            <th>
                {{#translate}}Triggered count{{/translate}}
            </th>
            <th class="col-md-1">
                &nbsp;
            </th>
        </thead>
        {{#if rows}}
            <tbody>

                {{#each rows}}
                    <tr>
                        <th scope="row">
                            {{index}}
                        </th>
                        <td>
                            <span class="glyphicon glyphicon-console" aria-hidden="true"></span> {{name}}
                        </td>
                        <td>
                            {{#if enabled}}
                                <span class="label label-success">{{#translate}}Enabled{{/translate}}</span>
                            {{else}}
                                <span class="label label-default">{{#translate}}Disabled{{/translate}}</span>
                            {{/if}}
                        </td>
                        <td class="text-muted">
                            {{description}}
                        </td>
                        <td class="text-info">
                            <a href="/lists/view/{{list}}">{{listName}}</a>
                        </td>
                        <td class="text-info">
                            {{{formatted}}}
                        </td>
                        <td class="text-info">
                            <a href="/campaigns/view/{{destCampaign}}">{{destCampaignName}}</a>
                        </td>
                        <td>
                            <a href="/triggers/status/{{id}}">{{count}}</a>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <a href="/triggers/edit/{{id}}">
                            {{#translate}}Edit{{/translate}}
                        </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        {{/if}}
    </table>
</div>
